<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">{{message}}</h1></h1>
        <h3>Registered Users:</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Complete Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {{#data}}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ first_name }} {{ last_name }}</td>
                    <td>{{ email }}</td>
                </tr>
                {{/data}}
            </tbody>
        </table>
        <a href="/logout" class="btn btn-danger">Logout</a>
    </div>
</body>
</html>